.header {
  background-color: var(--brand-color-one);
  border-bottom: 1px solid var(--border-header);
}
.header__container {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  line-height: 1.19;
  font-weight: 700;
  text-decoration: none;
  color: var(--brand-color);
  margin: 16px 0;
}
.logo--black {
  color: var(--brand-color-two);
}
.logo--white {
  color: var(--brand-color-one);
}

@media screen and (min-width: 768px) {
  .logo {
    margin: 26px 0;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    margin-top: 24px;
    margin-bottom: 25px;
  }
}
.nav {
  margin-right: auto;
}
.nav__links {
  display: none;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
  letter-spacing: 0.02em;
  position: relative;
  transition: color 250ms var(--transition-timing-function);
}
.nav__links--current:focus, .nav__links--current:hover {
  color: var(--brand-color);
}
.nav__links--underline {
  color: var(--brand-color);
}
.nav__links--underline::after {
  content: "";
  position: absolute;
  bottom: -34px;
  height: 4px;
  border-radius: 2px;
  left: 0;
  width: 100%;
  background-color: var(--brand-color);
}

@media screen and (min-width: 768px) {
  .nav {
    margin-left: 83px;
  }
  .nav__links {
    display: flex;
    gap: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    margin-left: 93px;
  }
  .nav__links {
    gap: 46px;
  }
}
.contact-links {
  display: none;
}
.contact-links__details {
  font-size: 12px;
  line-height: 1.16;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  color: var(--brand-color-four);
  transition: color 250ms var(--transition-timing-function);
}
.contact-links__details:hover, .contact-links__details:focus {
  color: var(--brand-color);
}
.contact-links__icon {
  fill: currentColor;
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .contact-links {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contact-links {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    gap: 30px;
  }
  .contact-links__details {
    font-size: 14px;
    line-height: 1.14;
  }
  .contact-links__icon {
    fill: currentColor;
    margin-right: 10px;
  }
}
.section-background {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/mobile-header.jpg");
  text-align: center;
  box-sizing: border-box;
  background-position-x: 50%;
  background-position-y: 50%;
  background-size: cover;
  max-width: 100%;
  height: 400px;
  margin: 0 auto;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .box {
    background-image: url("../images/mobile-header@2x.jpg");
  }
}
.main-title {
  width: 365px;
  font-size: 26px;
  line-height: 1.62;
  font-weight: 900;
  color: var(--brand-color-one);
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30px;
  padding-top: 118px;
}

.button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--brand-color);
  color: var(--brand-color-one);
  padding: 10px 42px 10px 41px;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

@media screen and (min-width: 768px) {
  .section-background {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/tablet-header.jpg");
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .box {
    background-image: url("../images/tablet-header@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .section-background {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/desktop-header.jpg");
    max-width: 1600px;
    height: 600px;
  }
  .main-title {
    width: 696px;
    font-size: 44px;
    line-height: 1.36;
    padding-top: 200px;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .box {
    background-image: url("../images/desktop-header@2x.jpg");
  }
}
.menu-toggle {
  background-color: transparent;
  color: var(--color-black);
  cursor: pointer;
  border: none;
  outline: none;
  position: absolute;
  top: 20px;
  right: 16px;
}
.menu-toggle:is(:hover, :focus) {
  color: var(--brand-color);
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-container {
  position: fixed;
  inset: 0;
  background-color: var(--brand-color-one);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  transform: translateX(100%);
  transition-property: visibility, opacity, transform;
  transition: 250ms ease-in-out;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
}
.menu-container.is-open {
  transform: translateX(0);
  visibility: visible;
  opacity: 1;
  pointer-events: all;
}

.mobile-menu__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.mobile-menu__item {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}
.mobile-menu__link {
  font-size: 40px;
  color: var(--color-black);
  text-decoration: none;
}
.mobile-menu__link--active {
  color: var(--brand-color);
}
.mobile-menu__link:hover {
  color: var(--brand-color);
}
.mobile-menu__address {
  display: flex;
  flex-direction: column;
}
.mobile-menu__phone {
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--brand-color);
  text-decoration: none;
  margin-bottom: 32px;
}
.mobile-menu__email {
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--brand-color-four);
  text-decoration: none;
  margin-bottom: 64px;
}
.mobile-menu__social {
  display: flex;
  flex-wrap: wrap;
}
.mobile-menu__social__link {
  list-style: none;
  font-size: 18px;
  line-height: 1.22;
  color: var(--brand-color);
  text-decoration: none;
  display: inline-block;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mobile-menu__social__link:last-child {
  margin-right: none;
  padding-right: none;
}

@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
  opacity: inherit;
  visibility: inherit;
  transition-property: visibility, opacity;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing-function);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  background-color: var(--brand-color-one);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.modal__close-button {
  position: absolute;
  top: 14px;
  right: 10px;
  height: 30px;
  width: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: var(--brand-color-one);
  fill: var(--brand-color-two);
  cursor: pointer;
  transition: fill 250ms var(--transition-timing-function), border-color 250ms var(--transition-timing-function);
}
.modal__close-button:focus, .modal__close-button:hover {
  fill: var(--brand-color);
  border-color: var(--brand-color);
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
  }
}
.form {
  margin: 40px;
}
.form__legend {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 12px;
}
.form__label {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}
.form__label span {
  align-self: start;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--brand-color-four);
  padding-bottom: 4px;
}
.form__label:focus-within .form__input-name {
  border-color: var(--brand-color);
}
.form__label:hover .form__input-name {
  border-color: var(--brand-color);
}
.form__label:focus-within .form__input-icon {
  fill: var(--brand-color);
}
.form__label:hover .form__input-icon {
  fill: var(--brand-color);
}
.form__input-name {
  outline: none;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms var(--transition-timing-function);
}
.form__input-icon {
  position: absolute;
  fill: currentColor;
  left: 15px;
  top: 30px;
  transition: fill 250ms var(--transition-timing-function);
}
.form__textarea {
  resize: none;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 16px 12px;
  transition: border-color 250ms var(--transition-timing-function);
}
.form__textarea:focus, .form__textarea:hover {
  border-color: var(--brand-color);
}

::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
}

:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
}

::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: var(--placeholder-color);
}

/* CHECKBOX */
.checkbox {
  padding-top: 10px;
  padding-bottom: 31px;
}
.checkbox__label {
  position: relative;
  color: var(--brand-color-four);
  font-size: 12px;
  line-height: 1.16;
}
.checkbox__label--terms {
  text-decoration: underline;
  color: var(--brand-color);
}
.checkbox__input {
  opacity: 0;
  margin-right: 8px;
}
.checkbox__input:checked + svg {
  border-color: #2196f3;
  background-color: var(--brand-color);
}
.checkbox__vector {
  position: absolute;
  left: 3px;
  bottom: 2px;
  border: 1.5px solid var(--color-black);
  background-color: var(--brand-color-one);
  border-radius: 2px;
  height: 15px;
  width: 16px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--brand-color-one);
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .checkbox__label {
    font-size: 14px;
    line-height: 1.17;
  }
}
/* ---- KONIEC CHECKBOX ---- */
.submit-btn {
  all: unset;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  color: var(--brand-color-one);
  background-color: var(--brand-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  margin-left: 84px;
}

@media screen and (min-width: 1200px) {
  .submit-btn {
    margin-left: 124px;
  }
}
.our-atuts {
  padding-top: 60px;
  padding-bottom: 60px;
}
.our-atuts__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.our-atuts__item {
  flex-basis: calc((100% - 30px) / 2);
}
.our-atuts__icon {
  width: 450px;
  height: 120px;
  border-radius: 4px;
  background-color: var(--brand-color-three);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.our-atuts__title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
  padding-bottom: 10px;
}
.our-atuts__text {
  width: 450px;
  font-size: 14px;
  line-height: 1.71;
  display: flex;
  flex-wrap: wrap;
  color: var(--brand-color-four);
}

@media screen and (min-width: 768px) {
  .our-atuts {
    padding-bottom: 45px;
  }
  .our-atuts__icon {
    width: 354px;
  }
  .our-atuts__title {
    text-align: start;
  }
  .our-atuts__text {
    width: 345px;
  }
}
@media screen and (min-width: 1200px) {
  .our-atuts {
    padding-top: 94px;
    padding-bottom: 0;
  }
  .our-atuts__item {
    flex-basis: calc((100% - 90px) / 4);
  }
  .our-atuts__icon {
    width: 270px;
  }
  .our-atuts__text {
    width: 270px;
  }
}
.section-our-work {
  display: none;
}

@media screen and (min-width: 1200px) {
  .section-our-work {
    margin-inline: auto;
    width: 1200px;
    display: flex;
    background-color: var(--white);
    font-size: 14px;
    line-height: 1.14;
    justify-content: space-between;
  }
  .our-work {
    margin: 0 auto;
    padding-left: 0;
    display: inline-flex;
    gap: 30px;
  }
  .our-work__list {
    position: relative;
  }
  .our-work__picture {
    display: block;
    align-items: flex-start;
  }
  .our-work__text {
    color: var(--brand-color-one);
    text-transform: uppercase;
    line-height: 1.14;
    font-weight: 700;
    height: 70px;
    width: 370px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom: 0;
  }
}
.page-background {
  background-color: var(--brand-color-three);
}

.our-team {
  margin: 0 auto;
  padding-left: 0;
  gap: 30px;
}
.our-team__item {
  width: 100%;
  max-width: 450px;
  background: var(--brand-color-one);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.our-team__card {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 24px;
  margin-bottom: 30px;
}
.our-team__card > h4 {
  margin: 0 auto;
  padding-bottom: 10px;
}
.our-team__card > p {
  margin: 0 auto;
  padding-bottom: 16px;
}
.our-team__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.our-team__profession {
  font-size: 16px;
  line-height: 1.19;
  color: var(--brand-color-four);
}

@media screen and (min-width: 768px) {
  .our-team {
    display: flex;
    flex-wrap: wrap;
  }
  .our-team__card {
    margin-bottom: 0;
  }
  .our-team__item {
    max-width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .our-team__card {
    margin-bottom: 0;
  }
  .our-team__item {
    max-width: 270px;
  }
}
.social-media {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.social-media__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--brand-color-one);
  fill: var(--brand-color-eight);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms var(--transition-timing-function), fill 250ms var(--transition-timing-function);
}
.social-media__link svg {
  transition: fill 250ms var(--transition-timing-function);
}
.social-media__link:hover, .social-media__link:focus {
  background-color: var(--brand-color);
  fill: var(--brand-color-one);
}
.social-media__link.social-background {
  background: rgba(255, 255, 255, 0.1);
  fill: var(--brand-color-one);
}
.social-media__link.social-background:hover, .social-media__link.social-background:focus {
  background-color: var(--brand-color);
  fill: var(--brand-color-one);
}

.client-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
}
.client-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 210px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid var(--brand-color-eight);
  fill: var(--brand-color-eight);
  cursor: pointer;
  gap: 30px;
  transition: border-color 250ms var(--transition-timing-function), fill 250ms var(--transition-timing-function);
}
.client-list__link svg {
  transition: fill 250ms var(--transition-timing-function);
}
.client-list__link:hover, .client-list__link:focus {
  fill: var(--brand-color);
  border-color: var(--brand-color);
}

@media screen and (min-width: 768px) {
  .client-list__link {
    min-width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .client-list__link {
    max-width: 170px;
    min-width: unset;
  }
}
.footer-background {
  background-color: var(--brand-color-six);
  padding-top: 60px;
  color: var(--brand-color-one);
}
.footer-background__container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer-background__flex {
  text-align: center;
  padding-bottom: 60px;
}

.media-footer {
  text-align: center;
  padding-bottom: 60px;
}
.media-footer__heading {
  color: var(--brand-color-one);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  margin-bottom: 20px;
}

.form-footer {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.form-footer__mail {
  outline: none;
  padding-left: 16px;
  width: 450px;
  height: 50px;
  color: var(--brand-color-one);
  border: 1px solid var(--border-footer);
  filter: drop-shadow(0px 4px 4px var(--shadow-box-color));
  border-radius: 4px;
  background-color: transparent;
  transition: border-color 250ms var(--transition-timing-function);
}
.form-footer__mail::-moz-placeholder {
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--placeholder-footer-color);
}
.form-footer__mail:-ms-input-placeholder {
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--placeholder-footer-color);
}
.form-footer__mail::placeholder {
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--placeholder-footer-color);
}
.form-footer__mail:hover, .form-footer__mail:focus {
  border-color: var(--brand-color);
}
.form-footer__button {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  color: var(--brand-color-one);
  background-color: var(--brand-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px var(--shadow-box-color);
  border-radius: 4px;
  cursor: pointer;
}
.form-footer__icon {
  margin-left: 24px;
}

@media screen and (min-width: 768px) {
  .footer-background__container {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .media-footer__media {
    padding-bottom: 102px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-background {
    padding-top: 60px;
    padding-bottom: 51px;
  }
  .footer-background__container {
    justify-content: flex-start;
  }
  .footer-background__flex {
    text-align: start;
    padding-right: 70px;
    padding-bottom: 0;
  }
  .form-footer {
    flex-direction: row;
    gap: 12px;
    width: auto;
    padding-left: 78px;
  }
  .form-footer__mail {
    width: 358px;
  }
  .media-footer {
    text-align: left;
    padding-bottom: 40px;
  }
  .media-footer__heading-newsletter {
    padding-left: 78px;
  }
}
.address {
  font-size: 14px;
  line-height: 1.71;
  padding-top: 20px;
  font-style: inherit;
}
.address__list {
  padding-left: 0;
  margin: 0 auto;
}
.address__items {
  margin-bottom: 9px;
}
.address__items--grey {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms var(--transition-timing-function);
}
.address__items--grey:focus, .address__items--grey:hover {
  color: var(--brand-color);
}
.address__text {
  margin: 0 auto;
}

.page-list {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  gap: 8px;
  margin-bottom: 50px;
}
.page-list__button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  padding: 6px 22px;
  border-radius: 4px;
  line-height: 1.63;
  border: none;
  background-color: var(--brand-color-three);
  cursor: pointer;
  transition: background-color 250ms var(--transition-timing-function), color 250ms var(--transition-timing-function), box-shadow 250ms var(--transition-timing-function);
}
.page-list__button:hover, .page-list__button:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--brand-color);
  color: var(--brand-color-one);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  flex-basis: calc((100% - 60px) / 3);
}
.portfolio__shadow {
  transition: box-shadow 250ms var(--transition-timing-function);
}
.portfolio__link {
  display: block;
  text-decoration: none;
  color: var(--brand-color-two);
}
.portfolio__link:hover, .portfolio__link:focus {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio__link:hover .portfolio__overlay, .portfolio__link:focus .portfolio__overlay {
  transform: translatey(0);
}
.portfolio__box {
  position: relative;
  overflow: hidden;
  width: 370px;
  height: 294px;
}
.portfolio__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: 250ms var(--transition-timing-function);
}
.portfolio__text {
  padding-left: 24px;
  padding-top: 49px;
  padding-right: 45px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--brand-color-one);
}
.portfolio__image {
  display: block;
}

.portfolio-card {
  border: 1px solid var(--brand-color-seven);
  border-top: hidden;
  padding-left: 20px;
}
.portfolio-card > h4 {
  padding-top: 20px;
  padding-bottom: 4px;
}
.portfolio-card > p {
  padding-bottom: 20px;
}
.portfolio-card__heading {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0 auto;
}
.portfolio-card__text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--brand-color-four);
  margin: 0 auto;
}

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #212121;
  background-color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.03em;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.list {
  margin: 0 auto;
  padding-left: 0;
  gap: 30px;
}

.title {
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
  }
}
:root {
  --brand-color: #2196f3;
  --brand-color-one: #ffffff;
  --brand-color-two: #000000;
  --brand-color-three: #f5f4fa;
  --brand-color-four: #757575;
  --brand-color-five: #e5e5e5;
  --brand-color-six: #2f303a;
  --brand-color-seven: #eeeeee;
  --brand-color-eight: #afb1b8;
  --placeholder-color: rgba(117, 117, 117, 0.5);
  --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --color-black: #212121;
  --border-header: #ececec;
  --shadow-box-color: rgba(0, 0, 0, 0.15);
  --placeholder-footer-color: rgba(255, 255, 255, 0.6);
  --border-footer: rgba(255, 255, 255, 0.3);
}/*# sourceMappingURL=main.css.map */