.social-media {
  display: flex;
  justify-content: center;
  gap: 10px;

  &__link {
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--brand-color-one);
    fill: var(--brand-color-eight);
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms var(--transition-timing-function),
      fill 250ms var(--transition-timing-function);

    & svg {
      transition: fill 250ms var(--transition-timing-function);
    }

    &:hover,
    &:focus {
      background-color: var(--brand-color);
      fill: var(--brand-color-one);
    }

    &.social-background {
      background: rgba(255, 255, 255, 0.1);
      fill: var(--brand-color-one);

      &:hover,
      &:focus {
        background-color: var(--brand-color);
        fill: var(--brand-color-one);
      }
    }
   
  }
}
