body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #212121;
  background-color: #ffffff;
  font-size: 14px;
  letter-spacing: 0.03em;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--color-black);
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.list {
  margin: 0 auto;
  padding-left: 0;
  gap: 30px;
}

.title {
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
  }
}
