:root {
    --brand-color: #2196f3;
    --brand-color-one: #ffffff;
    --brand-color-two: #000000;
    --brand-color-three: #f5f4fa;
    --brand-color-four: #757575;
    --brand-color-five: #e5e5e5;
    --brand-color-six: #2f303a;
    --brand-color-seven: #eeeeee;
    --brand-color-eight: #afb1b8;
    --placeholder-color: rgba(117, 117, 117, 0.5);
    --transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --color-black: #212121;
    --border-header: #ececec;
    --shadow-box-color:  rgba(0, 0, 0, 0.15);
    --placeholder-footer-color: rgba(255, 255, 255, 0.6);
    --border-footer: rgba(255, 255, 255, 0.3);
  }